/* google fonts for lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Lato', sans-serif;
}
html,body{
     margin: 0;
     padding: 0;
}
.container{
     max-width: 1200px;
     width: 100%;
     padding: 0 15px;
     margin: auto;
}
ul{
     list-style: none;
     margin: 0;
     padding: 0;
}
/* overlay */
.overlay{
     width: 100vw;
     left: 0;
     height: 100vh;
     background-color: #000;
     opacity: 0.7;
     top: -100%;
     transition: all .5s ease-in;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 999999999;
}
.overlay.active{
     top: 0;
}
.overlay form input[type="search"] {
     width: 500px;
     padding: 20px 10px;
     font-size: 16px;
     color: #fff;
     border: none;
     border-bottom: 2px solid red;
     background: transparent;
     outline: none;
}
.overlay form input::placeholder{
     color: #fff;
     font-size: 16px;
}
.close {
     position: absolute;
     color: #fff;
     width: 40px;
     height: 40px;
     background-color: #4272d7;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     transition: all .5s ease;
     right: 20px;
     top: 5px;
     cursor: pointer;
}
.close:hover{
     color:red
}
/* header */
header{
     position: relative;
     z-index: 100001;
}
header .header_area{
     border-top: 5px solid #4272d7;
     /* min-height: 120px;*/
}
header .header_area .header_wrapper{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
header .header_area .header_wrapper .logo{
     width: 100px;
}
header .header_area .header_wrapper .logo a{
     width: 100%;
     text-decoration: none;
     color: #4272d7;
     background: transparent;
}
header .header_area .header_wrapper .header_right .main_menu ul {

}
header .header_area .header_wrapper .header_right .main_menu ul li{
     display: inline-block;
     position: relative;
     margin-left: 40px;
}
header .header_area .header_wrapper .header_right .main_menu ul li a{
     color: #666;
     font-size: 15px;
     padding: 50px 0;
     display: block;
     text-decoration: none;
}
header .header_area .header_wrapper .header_right .main_menu ul li a i{
     margin-left: 5px;
    font-size: 12px;
    transition: all 1s ease;
}
header .header_area .header_wrapper .header_right .main_menu ul li a.active,
header .header_area .header_wrapper .header_right .main_menu ul li a:hover{
     color: #4272d7;
}
header .header_area .header_wrapper .header_right .main_menu ul li:hover > a i{
     transform: rotate(-180deg);
}

/* submenu or dropdown menu */
header .header_area .header_wrapper .header_right .main_menu ul li .submenu{
     position: absolute;
     position: absolute;
     width: 263px;
     background-color: #171a21;
     top: 120%;
     border-top: 5px solid #4272d7;
     transition: all .5s ease;
     opacity: 0;
     z-index: 999999;
     /* transform: translateY(10px); */
     visibility: hidden;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li{
     margin: 0;
     display: block;
     transition: all .5s ease-in-out;
     border-bottom: 2px solid #1e2128;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li:hover{
     background-color: #4272d7;
     padding-left: 10px;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li a{
     padding: 15px 20px;
     font-size: 13px;
     color: #fff;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li a i{
     font-size: 12px;
     transition: all .5s ease;
     float: right;
     color: #fff;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li:hover > a i{
     transform: rotate(-90deg);
}
header .header_area .header_wrapper .header_right .main_menu ul li:hover .submenu{
     top: 100%;
     opacity: 1;
     visibility: visible;
}

/* second dropdown menu */
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li .submenu{
     opacity: 0;
     left: 100%;
     top: 0;
     position: absolute;
     visibility: hidden;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li:hover .submenu{
     opacity: 1;
     visibility: visible;
     
}

header .header_area .header_wrapper .header_right{
    display: flex;
    align-items: center;
    
}
/* header right */
header .header_area .header_wrapper .header_right .search_icon{
     color: #666;
     cursor: pointer;
     padding-left: 45px;
     position: relative;
     /* margin: 50px 50px; */
}
header .header_area .header_wrapper .header_right .search_icon i:hover{
     color: #4272d7;
}
header .header_area .header_wrapper .header_right .search_icon::before{
     content: '';
     position: absolute;
     background-color: #ccc;
     right: 38px;
     height: 15px;
     width: 1px;
     margin-top: 3px;
}

/* slider section */
.slider_area{
     width: 100%;
     z-index: 0;
     position: relative;
}
.owl-carousel .owl-item .active{
     position: relative;
}
.owl-carousel .owl-item .active::after{
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     overflow: hidden;
     animation: animated 5s linear infinite;
}
@keyframes animated {
     0%{
          transform: scale(1.2);
     }
     100%{
          transform: scaleY(2.3);
     }
}
.slider_area .single_slider{
     text-align: center;
     padding: 175px 0;
}
.slider_area .single_slider h4{
     color: #fff;
     font-size: 30px;
}
.slider_area .single_slider h2{
     color: #fff;
     font-size: 72px;
     font-weight: 800;
     text-transform: uppercase;
     padding-bottom: 40px;
}
.slider_area .single_slider a{
     font-size: 15px;
     padding: 20px 42px;
     color: #fff;
     font-weight: bold;
     text-decoration: none;
     background-color: #4272d7;
     position: relative;
     display: inline-block;
}
.slider_area .single_slider a::after{
     content: '';
     position: absolute;
     width:0;
     height: 0;
     background-color: #000;
     opacity: 0.2;
     left: 0;
     overflow: hidden;
     transition: 0.5s;
     bottom: 0;

}
.slider_area .single_slider a:hover::after{
     width: 100%;
     height: 100%;
}
.slider_area .single_slider a::before{
     content: '';
     position: absolute;
     width:0;
     height: 0;
     background-color: #000;
     opacity: 0.2;
     right: 0;
     overflow: hidden;
     transition: 0.5s;
     top: 0;
}
.slider_area .single_slider a:hover::before{
     width: 100%;
     height: 100%;
}
.owl-nav{
     display: none;
}
 .owl-nav i {
     position: absolute;
     /* background: #fff; */
     top: 50%;
     width: 50px;
     height: 50px;
     background: #ddd;
     text-align: center;
     color: #000;
     opacity: 0.5;
     font-size: 20px;
     left: 50px;
     border-radius: 50%;
     line-height: 50px;
     transition: all .5s ease;
 }
.owl-nav i:hover{
    opacity: 1;
 }
  i#Prev {
     right: 50px;
     left: auto;
     /* top: 60%; */
 }
 
 .owl-carousel .owl-dots button  {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     margin: 0 10px;
     background: #fff;
 }
 .owl-carousel .owl-dots .active{
     background-color: #4272d7;
 }
 .owl-dots{
     position: absolute;
     bottom: 50px;
     left: 50%;
 }
 /* hire sectoion */
 .hire{
     padding: 27px 0;
     background: #4272d7;
 }
 .hire .hire_content{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .hire .hire_content .btn{
     padding: 20px 40px;
     background: #4272d7;
     border: 3px solid #fff;
     font-size: 15px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
     color: #fff;
 }
 .hire .hire_content .btn::after{
     content: '';
    position: absolute;
    left: 0;
    background: #000;
    opacity: 0.2;
    overflow: hidden;
    width: 0%;
    transition: all .3s;
    height: 100%;
    top: 0;
 }
 .hire .hire_content .btn:hover::after{
    width: 50%;
 }
 .hire .hire_content .btn::before{
     content: '';
    position: absolute;
    right: 0;
    background: #000;
    opacity: 0.2;
    overflow: hidden;
    width: 0%;
    transition: all .3s;
    height: 100%;
    top: 0;
 }
 .hire .hire_content .btn:hover::before{
     width: 50%;
     border: none;
 }

 .hire .hire_content h5{
     color: #fff;
     font-size: 18px;
     padding-left: 25px;
     font-weight: 500;
 }
 /* investment start */
 .investment{
     margin-top: 67px;
     margin-bottom: 67px;
 }
 .investment .investment_wrapper{
     display: flex;
     align-items: center;
     gap: 30px;
 }
 .investment .investment_wrapper .invest_box{
     position: relative;
     overflow: hidden;
     background: #ccc;
     width: 370px;
     transition: all .5s;
     height: 270px;
 }
 .investment .investment_wrapper .invest_box:hover{
     box-shadow: 0 1px 10px 0 #000;
     opacity: 0.9;
     /* transform: translateY(-10px); */
     transform: perspective(300px) translateX(-10px) translateY(10px);
 }
 .investment .investment_wrapper .invest_box .box_top{
     display: flex;
     align-items: center;
 }
 .investment .investment_wrapper .invest_box .box_top h5{
     padding-left: 10px;
     font-size: 16px;
     color: #fff;
 }
 .investment .investment_wrapper .invest_box p{
     font-size: 15px;
     color: #fff;
     line-height: 23px;
     margin-top: 25px;
 }
 .investment .investment_wrapper .invest_box .box_btn a{
     margin-top: 25px;
     display: flex;
     align-items: center;
     gap: 10px;
     text-decoration: none;
     color: #fff;
     font-size: 13px;
 }
 .investment .investment_wrapper .invest_box .invest_box-items{
     position: absolute;
     transition: all 1s;
     background-color: #4272d7;
     top: 64%;

     /* padding: 15px 30px; */
     padding: 30px 28px;
     height: 100%;
     width: 100%;
 }
 .investment .investment_wrapper .invest_box .invest_box-items p,
 .investment .investment_wrapper .invest_box .invest_box-items .box_btn
 {
     display: none;
     transition: all 1s ease;
 }
 .investment .investment_wrapper .invest_box:hover .invest_box-items{
     top: 0;
     /* padding: 36px 30px; */
 }
 .investment .investment_wrapper .invest_box:hover .invest_box-items p,
 .investment .investment_wrapper .invest_box:hover .invest_box-items .box_btn
 {
     display: block;
 }
 /* investment end */

 /* mordern devices */
 .mordern_device{
     background-color: #f0f0f0;
     padding: 70px 0;
 }
 .mordern_device .mordern_device_wrapper{}
 .mordern_device .mordern_device_wrapper .device_top_content{}
 .mordern_device .mordern_device_wrapper .device_top_content h4{
     font-size: 20px;
     color: #595959;
     text-transform: uppercase;
     position: relative;
     font-weight: 500;
     word-spacing: 2px;
     text-align: center;
 }
 .mordern_device .mordern_device_wrapper .device_top_content h4::after{
     content: '';
     position: absolute;
     width: 42px;
     height: 2px;
     bottom: -15px;
     left: 48%;
     background: #adadad;
 }
 .mordern_device .mordern_device_wrapper  .device_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 48px;
    margin-top: 110px;
 }
 .mordern_device .mordern_device_wrapper .device_wrapper .device{
     display: flex;
     gap: 20px;
 }
 .mordern_device .mordern_device_wrapper .device_wrapper .device .device_img{
     width: 45px;
     height: 45px;
     background: #4272d7;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 12px;
 }
 .mordern_device .mordern_device_wrapper .device_wrapper .device .device_img i{
     font-size: 20px;
     color: #fff;
 }
  .mordern_device .mordern_device_wrapper .device_wrapper .device .device_content{}
  .mordern_device .mordern_device_wrapper .device_wrapper .device .device_content h5{
     font-size: 16px;
     font-weight: 600;
     color: #555555;
 }
  .mordern_device .mordern_device_wrapper .device_wrapper .device .device_content p{
     font-size: 15px;
     font-weight: normal;
     color: #666;
     padding-top: 25px;
     line-height: 20px;
 }



 /* mordern devices end */
