/* google fonts for lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Lato', sans-serif;
}
/* html,body{
     margin: 0;
     padding: 0;
     overflow-x: hidden;
} */
.fix{
    overflow: hidden;
}
.container{
     max-width: 1200px;
     width: 100%;
     margin: auto;
     padding: 0 15px;
}
/* column for grid */
.col-3{
    width: 33.33%;
}
.col-4{
    width: 25%;
}
.col-6{
    width: 50%;
}
/* padding top and bottom customly */
.pt{
    padding-top: 80px;
}
.pb{
    padding-bottom: 80px;
}
/* unorderlist */
ul{
     list-style: none;
     margin: 0;
     padding: 0;
}
/* overlay */
.overlay{
     width: 100vw;
     left: 0;
     height: 100vh;
     background-color: #000;
     opacity: 0.7;
     top: -100%;
     transition: all .5s ease-in;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 999999999;
}
.overlay.active{
     top: 0;
}
.overlay form input[type="search"] {
     width: 500px;
     padding: 20px 10px;
     font-size: 16px;
     color: #fff;
     border: none;
     border-bottom: 2px solid red;
     background: transparent;
     outline: none;
}
.overlay form input::placeholder{
     color: #fff;
     font-size: 16px;
}
.close {
     position: absolute;
     color: #fff;
     width: 40px;
     height: 40px;
     background-color: #4272d7;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     transition: all .5s ease;
     right: 20px;
     top: 5px;
     cursor: pointer;
}
.close:hover{
     color:red
}
/* header */
header{
     position: relative;
     z-index: 100001;
}
header.sticky {
     position: fixed;
     top: 0;
     width: 100%;
     background-color: #000;
     z-index: 99999;
     color: #fff;
     transition: 1s;

}
header .header_area{
     border-top: 5px solid #4272d7;
     /* min-height: 120px;*/
}

header .header_area .header_wrapper{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
header .header_area .header_wrapper .logo{
     width: 100px;
}
header .header_area .header_wrapper .logo a{
     width: 100%;
     text-decoration: none;
     color: #4272d7;
     background: transparent;
}
header .header_area .header_wrapper .header_right .main_menu ul {

}
header .header_area .header_wrapper .header_right .main_menu ul li{
     display: inline-block;
     position: relative;
     margin-left: 40px;
}
header .header_area .header_wrapper .header_right .main_menu ul li a{
     color: #666;
     font-size: 15px;
     padding: 50px 0;
     display: block;
     text-decoration: none;
}
header .header_area .header_wrapper .header_right .main_menu ul li a i{
     margin-left: 5px;
    font-size: 12px;
    transition: all 1s ease;
}
header .header_area .header_wrapper .header_right .main_menu ul li a.active,
header .header_area .header_wrapper .header_right .main_menu ul li a:hover{
     color: #4272d7;
}
header .header_area .header_wrapper .header_right .main_menu ul li:hover > a i{
     transform: rotate(-180deg);
}

/* submenu or dropdown menu */
header .header_area .header_wrapper .header_right .main_menu ul li .submenu{
     position: absolute;
     position: absolute;
     width: 263px;
     background-color: #171a21;
     top: 120%;
     border-top: 5px solid #4272d7;
     transition: all .5s ease;
     opacity: 0;
     z-index: 999999;
     /* transform: translateY(10px); */
     visibility: hidden;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li{
     margin: 0;
     display: block;
     transition: all .5s ease-in-out;
     border-bottom: 2px solid #1e2128;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li:hover{
     background-color: #4272d7;
     padding-left: 10px;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li a{
     padding: 15px 20px;
     font-size: 13px;
     color: #fff;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li a i{
     font-size: 12px;
     transition: all .5s ease;
     float: right;
     color: #fff;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li:hover > a i{
     transform: rotate(-90deg);
}
header .header_area .header_wrapper .header_right .main_menu ul li:hover .submenu{
     top: 100%;
     opacity: 1;
     visibility: visible;
}

/* second dropdown menu */
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li .submenu{
     opacity: 0;
     left: 100%;
     top: 0;
     position: absolute;
     visibility: hidden;
}
header .header_area .header_wrapper .header_right .main_menu ul li .submenu li:hover .submenu{
     opacity: 1;
     visibility: visible;
     
}

header .header_area .header_wrapper .header_right{
    display: flex;
    align-items: center;
    
}
/* header right */
header .header_area .header_wrapper .header_right .search_icon{
     color: #666;
     cursor: pointer;
     padding-left: 45px;
     position: relative;
     /* margin: 50px 50px; */
}
header .header_area .header_wrapper .header_right .search_icon i:hover{
     color: #4272d7;
}
header .header_area .header_wrapper .header_right .search_icon::before{
     content: '';
     position: absolute;
     background-color: #ccc;
     right: 38px;
     height: 15px;
     width: 1px;
     margin-top: 3px;
}

/* slider section */
.slider_area{
     width: 100%;
     z-index: 0;
     position: relative;
}
.owl-carousel .owl-item .active{
     position: relative;
}
.owl-carousel .owl-item .active::after{
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     overflow: hidden;
     animation: animated 5s linear infinite;
}
@keyframes animated {
     0%{
          transform: scale(1.2);
     }
     100%{
          transform: scaleY(2.3);
     }
}
.slider_area .single_slider{
     text-align: center;
     padding: 175px 0;
}
.slider_area .single_slider h4{
     color: #fff;
     font-size: 30px;
}
.slider_area .single_slider h2{
     color: #fff;
     font-size: 72px;
     font-weight: 800;
     text-transform: uppercase;
     padding-bottom: 40px;
}
.slider_area .single_slider a{
     font-size: 15px;
     padding: 20px 42px;
     color: #fff;
     font-weight: bold;
     text-decoration: none;
     background-color: #4272d7;
     position: relative;
     display: inline-block;
}
.slider_area .single_slider a::after{
     content: '';
     position: absolute;
     width:0;
     height: 0;
     background-color: #000;
     opacity: 0.2;
     left: 0;
     overflow: hidden;
     transition: 0.5s;
     bottom: 0;

}
.slider_area .single_slider a:hover::after{
     width: 100%;
     height: 100%;
}
.slider_area .single_slider a::before{
     content: '';
     position: absolute;
     width:0;
     height: 0;
     background-color: #000;
     opacity: 0.2;
     right: 0;
     overflow: hidden;
     transition: 0.5s;
     top: 0;
}
.slider_area .single_slider a:hover::before{
     width: 100%;
     height: 100%;
}
 .owl-nav i {
     position: absolute;
     /* background: #fff; */
     top: 50%;
     width: 50px;
     height: 50px;
     background: #ddd;
     text-align: center;
     color: #000;
     opacity: 0.5;
     font-size: 20px;
     left: 50px;
     border-radius: 50%;
     line-height: 50px;
     transition: all .5s ease;
     transform: translateY(-50%);
 }
.owl-nav i:hover{
    opacity: 1;
 }
  i#Prev {
     right: 50px;
     left: auto;
     /* top: 60%; */
 }
 
 .owl-carousel .owl-dots button  {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     margin: 0 10px;
     background: #fff;
 }
 .owl-carousel .owl-dots .active{
     background-color: #4272d7;
 }
 .owl-dots{
     position: absolute;
     bottom: 50px;
     left: 50%;
 }
 .owl-carousel .owl-nav.disabled {
     display: block;
 }
 /* hire sectoion */
 .hire{
     padding: 27px 0;
     background: #4272d7;
 }
 .hire .hire_content{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .hire .hire_content .btn{
     padding: 20px 40px;
     background: #4272d7;
     border: 3px solid #fff;
     font-size: 15px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
     color: #fff;
 }
 .hire .hire_content .btn::after{
     content: '';
    position: absolute;
    left: 0;
    background: #000;
    opacity: 0.2;
    overflow: hidden;
    width: 0%;
    transition: all .3s;
    height: 100%;
    top: 0;
 }
 .hire .hire_content .btn:hover::after{
    width: 50%;
 }
 .hire .hire_content .btn::before{
     content: '';
    position: absolute;
    right: 0;
    background: #000;
    opacity: 0.2;
    overflow: hidden;
    width: 0%;
    transition: all .3s;
    height: 100%;
    top: 0;
 }
 .hire .hire_content .btn:hover::before{
     width: 50%;
     border: none;
 }

 .hire .hire_content h5{
     color: #fff;
     font-size: 18px;
     padding-left: 25px;
     font-weight: 500;
 }
 /* investment start */
 .investment{
     margin-top: 67px;
     margin-bottom: 67px;
 }
 .investment .investment_wrapper .row{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column-gap: 30px;
 }
 .investment .investment_wrapper .invest_box{
     position: relative;
     overflow: hidden;
     background: #ccc;
     width: 370px;
     transition: all .5s;
     height: 270px;
 }
 .investment .investment_wrapper .invest_box:hover{
     box-shadow: 0 1px 10px 0 #000;
     opacity: 0.9;
     /* transform: translateY(-10px); */
     transform: perspective(300px) translateX(-10px) translateY(10px);
 }
 .investment .investment_wrapper .invest_box .box_top{
     display: flex;
     align-items: center;
 }
 .investment .investment_wrapper .invest_box .box_top h5{
     padding-left: 10px;
     font-size: 16px;
     color: #fff;
 }
 .investment .investment_wrapper .invest_box p{
     font-size: 15px;
     color: #fff;
     line-height: 23px;
     margin-top: 25px;
 }
 .investment .investment_wrapper .invest_box .box_btn a{
     margin-top: 25px;
     display: flex;
     align-items: center;
     gap: 10px;
     text-decoration: none;
     color: #fff;
     font-size: 13px;
 }
 .investment .investment_wrapper .invest_box .invest_box-items{
     position: absolute;
     transition: all 1s;
     background-color: #4272d7;
     top: 64%;

     /* padding: 15px 30px; */
     padding: 30px 28px;
     height: 100%;
     width: 100%;
 }
 .investment .investment_wrapper .invest_box .invest_box-items p,
 .investment .investment_wrapper .invest_box .invest_box-items .box_btn
 {
     display: none;
     transition: all 1s ease;
 }
 .investment .investment_wrapper .invest_box:hover .invest_box-items{
     top: 0;
     /* padding: 36px 30px; */
 }
 .investment .investment_wrapper .invest_box:hover .invest_box-items p,
 .investment .investment_wrapper .invest_box:hover .invest_box-items .box_btn
 {
     display: block;
 }
 /* investment end */

 /* mordern devices */
 .mordern_device{
     background-color: #f0f0f0;
     padding: 70px 0;
 }
 .mordern_device .mordern_device_wrapper .row{display: grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 30px;}
 .mordern_device .mordern_device_wrapper .device_top_content{}
 .mordern_device .mordern_device_wrapper .device_top_content h4{
     font-size: 20px;
     color: #595959;
     text-transform: uppercase;
     position: relative;
     font-weight: 500;
     word-spacing: 2px;
     text-align: center;
 }
 .mordern_device .mordern_device_wrapper .device_top_content h4::after{
     content: '';
     position: absolute;
     width: 42px;
     height: 2px;
     bottom: -15px;
     left: 48%;
     background: #adadad;
 }
 .mordern_device .mordern_device_wrapper .device_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 48px;
    margin-top: 110px;
 }
 .mordern_device .mordern_device_wrapper .device_wrapper .device{
     display: flex;
     gap: 20px;
 }
 .mordern_device .mordern_device_wrapper .device_wrapper .device .device_img{
     width: 50px;
     height: 50px;
     background: #4272d7;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 16px;
 }
 .mordern_device .mordern_device_wrapper .device_wrapper .device .device_img i{
     font-size: 20px;
     color: #fff;
 }
  .mordern_device .mordern_device_wrapper .device_wrapper .device .device_content{}
  .mordern_device .mordern_device_wrapper .device_wrapper .device .device_content h5{
     font-size: 16px;
     font-weight: 600;
     color: #555555;
 }
  .mordern_device .mordern_device_wrapper .device_wrapper .device .device_content p{
     font-size: 15px;
     font-weight: normal;
     color: #666;
     padding-top: 20px;
     line-height: 25px;
 }
 /* mordern devices end */
 /* single slider */
 .slider-wrapper {
     width: 100%;
     background: #4272d7;
     opacity: 0.5;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .slider-wrapper h4{
     width: 200px;
     padding: 20px 10px;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .slider-wrapper .owl-dots{
     display: none;
 }
 /* single slider end */
 /* latest project  */
 .project_wrapper{
     padding: 80px 0;
     background-color: #222222;
 }
 .project_wrapper .project-top_contet{}
 .project_wrapper .project-top_contet h2::after{
     position: absolute;
     content: '';
     width: 35px;
     height: 2px;
     background: #fff;
     display: block;
     left: 50%;
     transform: translateX(-50%);
     margin-top: 10px;
 }
 .project_wrapper .project-top_contet h2{
     font-size: 20px;
     font-weight: 400;
     letter-spacing: 0.5px;
     color: #c8c8c8;
     margin-bottom: 45px;
     text-align: center;
     position: relative;
     text-transform: uppercase;
 }
 .project_wrapper .owl-dots{
     display: none;
 }
 .project_wrapper .project_ites{
  

 }
 .project_wrapper .project_ites .single_item{
     position: relative;
     height: 220px;
 }
 .project_wrapper .project_ites .single_item:hover::before{
     opacity: 1;
 }
 .project_wrapper .project_ites .single_item:hover .project_content{
     opacity: 1;
     visibility: visible;
 }
 .project_wrapper .project_ites .single_item::before{
     position: absolute;
     width: 100%;
     height: 100%;
     overflow: hidden;
     content: '';
     transition: all .3s ease-in-out;
     background: #507bd6;
     opacity: 0;
 }
 .project_wrapper .project_ites .single_item .project_img{
     height: 220px;
 }
 .project_wrapper .project_ites .single_item .project_img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .project_wrapper .project_ites .single_item .project_content{
     position: absolute;
     top: 50%;
     left: 0;
     right: 0;
     opacity: 0;
     visibility: hidden;
     display: block;
     text-align: center;
     transform: translateY(-50%);
 }
.project_wrapper .project_ites .single_item .project_content h4{
     font-size: 15px;
     font-weight: 700;
     color: #dee0e5;
}
.project_wrapper .project_ites .single_item .project_content span{
     font-size: 13px;
     font-weight: 400;
     margin-top: 10px;
     display: inline-block;
     color: #b0b9cf;
}
 /* latest project end */
 /* video secton */
 .video_area{
    padding: 70px 0;
 }
 .video_area .video_wrapper_top h3{
    text-align: center;
    color: #333;
    position: relative;
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
 }
 .video_area .video_wrapper_top h3::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #adadad;
    /* color: red; */
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
 }
 .video_area .video{
     padding: 70px 0;
     background: transparent;
 }
 .video_area .video .video_wrapper{
     width: 50%;
     position: relative;
 }
 .video_area .video .video_wrapper > a{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 55px;
     height: 55px;
     /* background: red; */
     border: 5px solid #fff;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: auto;
     text-decoration: none;
     color: #fff;
     font-size: 20px;
 }
 /* @keyframes anim {
     0%{
          opacity: 0;
     }
     50%{
          opacity: 1;
          transform: scale(1.1);
     }
     100%{
          opacity: 0;
     }
 } */
 /* .video_area .video_wrapper > a::after{
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: red; 
     animation: anim 2s linear infinite ;
 } */
 .video_area .video{
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 40px;
 }
 .video_area .video .video_items{
    padding-left: 10px;
 }
  .video_area .video .video_items .item{
     margin-bottom: 20px;
  }
  .video_area .video .video_items .item p{
     font-size: 15px;
     line-height: 25px;
     color: #6666;
 }
  .video_area .video .video_items .item .item_content{
     display: flex;
     align-items: center;
     gap: 16px;
     margin-bottom: 20px;
     /* padding-bottom: 23px; */
 }
  .video_area .video .video_items .item .item_content i{
     font-size: 18px;
     line-height: 36px;
     color: #9999;
  }
  .video_area .video .video_items .item .item_content h4{
     font-size: 16px;
     font-weight: bold;
     line-height: 36px;
     color: #555555;
 }
 /* video secton end */
 /* working with us */
 .working_with{ padding: 185px 0;}
 .working_with .working-wrapper{
    width: 570px;
    margin: auto;
 }
 .working_with .working-wrapper .working_content{
    text-align: center;
 }
 .working_with .working-wrapper .working_content h3{
    color: #333;
    position: relative;
    font-weight: 800;
    font-size: 20px;
    bottom: 30px;
    line-height: 36px;
 }
 .working_with .working-wrapper .working_content h3::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #adadad;
    /* color: red; */
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
 }
 .working_with .working-wrapper .working_content p{
    font-size: 20px;
    line-height: 30px;
    color: #717171;
 }
 .working_with .working-wrapper .working_content a{
    padding: 20px 50px;
    background-color: #4272d7;
    color: #fff;
    margin-top: 45px;
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
 }
 /* working with us end */
 /* blog section */
 .blog{}
 .blog .blog_content_top{}
 .blog .blog_content_top h3{
    color: #333;
    position: relative;
    font-weight: 800;
    font-size: 20px;
    bottom: 30px;
    line-height: 36px;
 }
 .blog .blog_content_top h3::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #adadad;
    /* color: red; */
    bottom: -12px;
    left: 0;
 }
 .blog .blog_wrapper{
    margin-top: 29px;
 }
 .blog .blog_wrapper .first_blog{
    display: flex;
 }
 .blog .blog_wrapper .first_blog .blog_img{
    position: relative;
 }
 .blog .blog_wrapper .first_blog .blog_img img{
    width: 200px;
 }
 .blog .owl-carousel .owl-item img{
    width: 0;
    display: inline-block;

 }
 /* .owl-nav button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: red !important;
    top: -90px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    left: 200px;
    border-radius: 50%;
 } */
 /* button.owl-next{
    left: 260px;
 } */
 .blog_container{
    display: flex;
 }
 /* .blog .owl-nav button span {
    color: #fff;
    font-size: 20px;
    }  */
 .blog .blog_wrapper .first_blog .blog_img span{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 12px;
    background-color: #1f2636;
    color: #888b94;
    font-size: 11px;
    line-height: 24px;
    font-weight: 700;
 }
 .blog .blog_wrapper .owl-dots{
    display: none;
 }
 .blog .blog_wrapper .owl-nav button span{
    margin-bottom: 20px;
    position: absolute;
    font-size: 40px;
    color: #c9c9c9;
    top: -6px;
    left: 34%;
 }
 .blog .owl-nav button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #999 !important;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    top: -90px;
    left: 200px;
    transition: all .5s ease;
}
 .blog .owl-nav .owl-next{
    left: 260px;
 }
 .blog .blog_wrapper .first_blog .blog_content h4{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 15px;
    color: #656565;
 }
 .blog .blog_wrapper .first_blog .blog_content p{
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 20px;
    color: #adadad;
 }
 .blog .blog_wrapper .first_blog .blog_content .meta span{
    margin-right: 30px;
 }
 .blog .blog_wrapper .first_blog .blog_content .meta span a{
    font-size: 13px;
    line-height: 26px;
    text-decoration: none;
    color: #adadad;
 }
 .blog .blog_wrapper .first_blog .blog_content .meta span a > i{
    color: #ccc;
 }
 .blog .blog_wrapper .first_blog .blog_content{
    padding-left: 25px;
 }
 
 /* blog section end */
 /* company section */
    .company_logo{
        background: #f2f2f2;
    }
    .company_logo .owl-nav,
    .company_logo .owl-dots{
        display: none;

    }
    .company_logo .logo_wrapper{
        display: flex;
        gap: 32px;
    }
    .company_logo .owl-carousel .owl-item img{
        display: block;
        width: inherit;
    }
    .company_logo .logo_wrapper .logo_item{}
    .company_logo .logo_wrapper .logo_item img{
        font-size: 25px;
        line-height: 35px;
        color: #808080;
        font-weight: 700;
    }

 /* company section end */
 /* footer */
    footer{
        background: #171a21;
        padding: 60px 0;
    }
    footer .footer_wrapper{
        display: grid;
        gap: 30px;
        grid-template-columns: auto auto auto auto;
    }
    footer .footer_wrapper .footer_widget{}
    /* footer .footer_wrapper .footer_widget .footer_logo{
        display: flex;
        align-items: center;
        gap: 12px;
    } */
    footer .footer_wrapper .footer_widget .footer_logo img{
        margin-bottom: 20px;
    }
    footer .footer_wrapper .footer_widget .footer_content{}
    footer .footer_wrapper .footer_widget .footer_content .footer_logo a{
        width: 35px;
        height: 35px;
        background-color: #1b2334;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        transition: all .5s;
        font-size: 13px;
    }
    footer .footer_wrapper .footer_widget .footer_content .footer_logo a:hover{
        background-color: #4272d7;
    }
    footer .footer_wrapper .footer_widget .footer_content p{
        color: #999999;
        font-size: 13px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    footer .footer_wrapper .footer_widget h3{
        font-size: 15px;
        line-height: 24px;
        font-weight: 800;
        margin-bottom: 40px;
        color: #fff;
    }
    footer .footer_wrapper .footer_widget ul{}
    footer .footer_wrapper .footer_widget ul li{}
    footer .footer_wrapper .footer_widget ul li a{
        font-size: 13px;
        line-height: 36px;
        font-weight: 500;
        text-decoration: none;
        margin-bottom: 20px;
        color: #cccc;
    }
    footer .footer_wrapper .footer_widget p{
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 30px;
        color: #999999;
    }
    footer .footer_wrapper .footer_widget #email::placeholder{
        font-size: 15px;
        line-height: 28px;
        color: #ccc;
    }
    footer .footer_wrapper .footer_widget #email{
        padding: 13px 15px;
        background: #2f3138;
        position: relative;
        outline: none;
        border: none;
    }
    footer .footer_wrapper .footer_widget .btn{
        font-size: 13px;
        padding: 13px 20px;
        position: absolute;
        text-decoration: none;
        background: #4272d7;
        color: #fff;
    }

 /* footer end */

