.theme-bg{
     background: #505cfd;
}
.pt-50{
     padding-top: 50px;
}

.mb-30{
     margin-bottom: 30px;
}
.pt-60{
     padding-top: 100px;
}
.pb-50{
     padding-bottom: 50px;
}

.mb-60{
     margin-bottom: 60px;
}
.pt-70{
     padding-top: 70px;
}
.pb-70{
     padding-bottom:70px;
}
.pt-100{
     padding-top: 100px;
}
.pb-100{
     padding-bottom: 100px;
}
.pt-90{padding-top: 90px;}
.pb-90{padding-bottom: 90px;}
.pb-40{
     padding-bottom: 40px;
}
.black-bg{
     background: #343434;
}
.gap-100{
     gap: 100px;
}
.mb-40{
     margin-bottom: 40px;
}