/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 376px) and (max-width:767px) { 
      
      .testimonial-item{
        background-color: #fdfdfe;
        opacity: 0.7;
        padding: 50px 217px;
        width: 100%;
      }
      
      .testimonial-name{
        display: block;
        width: 100%;
      }
      /* .logo {
        display: inline-block;
        transform: translateY(87%);
      } */
     
      /* .header_area {
        padding: 25px 75px;
        border-image-slice: ce;     
        } */
        /* .logo {
            display: inline-block;
            top: 100%;
            position: relative;
            transform: translateY(100%);
        } */
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {
  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px) { 
     .main_menu ul li {
          
          margin-left: 19px;
      }
      .features-area {
          margin-top: 0;
          padding-top: 100px;
         
      }
      .slider-inner h2 {
          font-size: 24px;
      }
      /* .slider-inner {
          padding-top: 36px;
      } */
      .blog-thumb img {
        width: 100%;
    }
     
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px) { }