/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* google fonts poppins rubik */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Rubik:wght@400;500;600;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* 
custom btn styling */
.btn {
  padding: 15px 40px;
  border: 1px solid #505cfd;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  font-family: 'poppins',sans-serif;
  border-radius: 30px;
}

body{
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #404044;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/* header */
header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.header_area {
  padding: 0 75px;
}
.main_menu{}
.main_menu ul{}
.main_menu ul li{
  display: inline-block;
  margin-left: 55px;
}
.main_menu ul li a{
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  padding: 44px 0;
  display: inline-block;
  line-height: 1;
}
/* header end */
/* slider */
.slider_area .slider_img img{
  width: 100%;
}
.single-slider{
  height: 100vh;
}
.slider-icon a {
  font-size: 18px;
  margin: 0 15px;
  color: #505cfd;
}
.slider-inner h2 {
  font-size: 72px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 24px;
}
.slider-inner p{
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #343434;
  margin-bottom: 40px;
}
.slider-icon {
  margin-bottom: 14px;
}
/* slider end*/
/* hire button */
.hire_btn{}
.hire_btn a{
    padding: 15px 55px;
    border: 1px solid #505cfd;
    text-decoration: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
/* hire button  end*/
/* single_feature */
.features-area{
  margin-top: -100px;
  z-index: 9999;
  position: relative;
}
.single_feature{
  padding: 60px 50px;
  border-right: 1px solid #fff;
}
.single_feature i{
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
}
.single_feature h3{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.single_feature p{
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin: 0;
}
/* single_feature end */

/* about */
.about{
}
.about-text h3{
  position: relative;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.about-text h3::before{
  content: '';
  position: absolute;
  bottom: 0;
  
  width: 50px;
  height: 2px;
  background-color: #505cfd;
}
.about-text p{
  margin-bottom: 45px;
}
/* about end*/
/* area title */
.area-title{}
.area-title h3{
  font-size: 32px;
  margin-bottom: 20px;
}
.area-title p{
  margin: 0;
}
/* subscribe */
.subscribe-form{}
.subscribe-form form{}
.subscribe-form form input{
  width: 25%;
  border: none;
  outline: none;
  height: 45px;
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 30px;
}
.subscribe-form form button{
  background: #505cfd;
  color: #fff;
  border: none;
  height: 45px;
  padding: 0 40px;
  font-weight: 600;
  border-radius: 30px;
  outline: none;
}
/* subscribe end */
/* service */
.service-wrapper{
  border: 1px solid #ddd;
  padding: 50px 30px;
  transition: .3s ease-in-out;
}
.service-wrapper:hover{
  background-color: #222;
  border: 1px solid #222;
}
.service-wrapper:hover h3{color: #fff;}
.service-wrapper:hover p{color: #777;}
.service-wrapper:hover button{color: #fff;}
.service-wrapper:hover{}
.service-wrapper i{
  font-size: 48px;
  color: #505cfd;
  margin-bottom: 50px;
  display: inline-block;
}
.service-wrapper h3{
  font-size: 22px;
  margin-bottom: 25px;
}
.service-wrapper p{
  margin-bottom: 60px;
}
.service-wrapper button{}
/* service end*/


