.mt-40{
     margin-top: 40px;
}
.mt-90{
     margin-top: 90px;
}
.mb-90{
     margin-bottom: 90px;
}
.gray-bg{
     background-color: rgb(138, 133, 133);
}
.pt-100{
     padding-top: 100px;
}
.pb-100{
     padding-bottom: 100px;
}
.mt-100{
     margin-top: 100px;
}
.mb{
     margin-bottom: 100px;
}
.gap-6{
     gap: 10px;
}
/*  backgrond-color */
.gray-bg{
     background-color: #f6f5ff;
}
.theme-bg{
     background-color: #ff3d4f;
}
.white-bg{
     background-color: #fff;
}
.black-bg{
     background-color: #222;
}
.primary-bg{
     background-color: #222;
}
.secondary-bg{
     background-color: #000a2d;
}

/* color */
.white-color{
     color: #fff;;
}
.black-color{
     color: #222;;
}
.theme-color{
     color: #222;;
}
.primary-color{
     color: #222;;
}