.mt-40{
     margin-top: 40px;
}
.mt-90{
     margin-top: 90px;
}
.mb-90{
     margin-bottom: 90px;
}
.gray-bg{
     background-color: rgb(138, 133, 133);
}
.pt-100{
     padding-top: 100px;
}
.pb-100{
     padding-bottom: 100px;
}
.mt-100{
     margin-top: 100px;
}
.mb{
     margin-bottom: 100px;
}